img {
	max-width: 100%;
	display: block;
	transition: display 2s linear;
}

.hidden {
	display: none;
}

.navbar-toggler {
	margin-right: 50px;
}

.pull-right {
	position: fixed;
	top: 19px;
	right: 6px;
}

.imgBox {
	background-color: #2F4F4F;
	width: 100px;
	height: 100px;
	margin: 10px;
	border: .5px solid black;
	border-radius: 20%;
}

#gameTable {

}

#mesh {
	background-color: #778899;
	width: 100%;
	height: 100%;
	opacity: .5;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 500;
}